/Тестирование отчёта ВКР/
/Предыдущие года/

/Projects/server_data/z
/Projects/server/appsettings.json
/Projects/server/.vs/
/Projects/server/bin/
/Projects/server/obj/
/Projects/server/publish/
/Projects/server/appsettings.Development.json
/Projects/server/appsettings.Production.json

/Projects/api_test_app/.pytest_cache/
/Projects/api_test_app/__pycache__/
/Projects/api_test_app/venv/
/Projects/api_test_app/tests/__pycache__/
/Projects/api_test_app/tests/api/__pycache__/

/Projects/car_gatt_server/build/

/Схемы/Схемы в отчёт/PDF/
